*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
}
.container p{
    font-size: 30px;
}
.navbar-brand{
    font-size: 35px;
    color: #DDC9B4 !important;
    padding-left: 30px;
}
.navbar-brand:hover{
    color: #817f75 !important;
    transform: scale(0.9);
    transition: all 0.6s;
}
.bgnav{
    background: rgb(221,201,180);
    background: radial-gradient(circle, rgba(221,201,180,1) 0%, rgba(80,90,92,1) 0%, rgba(74,85,88,1) 24%, rgba(70,82,85,1) 43%, rgba(62,76,81,1) 63%, rgba(42,61,69,1) 76%);
}
.navbar-nav{
    padding-right: 30px;
}
.nav-link{
    font-size: 25px;
    color: #DDC9B4 !important;
}
.nav-link:hover{
    color: #817f75 !important;
    transform: scale(0.9);
    transition: all 0.6s;
}
.jumbotron{
    background-color: #DDC9B4;
    color: rgb(75, 90, 93);
    font-size: 45px;
    margin: 0;
    height: 400px;
}
.cajatitulo2{
    text-align: center;
    justify-content: center;
    color: #DDC9B4;
    background: rgb(221,201,180);
    background: radial-gradient(circle, rgba(221,201,180,1) 0%, rgba(80,90,92,1) 0%, rgba(74,85,88,1) 24%, rgba(70,82,85,1) 43%, rgba(62,76,81,1) 63%, rgba(42,61,69,1) 76%);
}
h2{
    padding: 20px;
}
.imgs{
    background: rgb(221,201,180);
    background: radial-gradient(circle, rgba(221,201,180,1) 0%, rgba(80,90,92,1) 0%, rgba(74,85,88,1) 24%, rgba(70,82,85,1) 43%, rgba(62,76,81,1) 63%, rgba(42,61,69,1) 76%);
}

.al{
    background-image: url(../assets/img/pcb3dtrans.PNG);
    background-size: cover;
    height: 400px;
    border: 5px solid #DDC9B4;
}
.al:hover{
    filter: sepia(0.4);
    transform: scale(0.95);
    transition: all 1s;
}
.am{
    background-image: url(../assets/img/pcb3d.PNG);
    background-size: cover;
    height: 400px;
    border-top: 5px solid #DDC9B4;
    border-bottom: 5px solid #DDC9B4;
}
.am:hover{
    filter: sepia(0.4);
    transform: scale(0.95);
    transition: all 1s;
}
.ar{
    background-image: url(../assets/img/fondo2.jpg);
    background-size: cover;
    height: 400px;
    border: 5px solid #DDC9B4;
}
.ar:hover{
    filter: sepia(0.4);
    transform: scale(0.95);
    transition: all 1s;
}

.zona1{
    text-align: center;
    /* align-items: center; */
    line-height: 400px;
    height: 400px;
}

.footer{
    font-size: 30px;
    text-align: center;
    color: #DDC9B4;
    background: rgb(221,201,180);
    background: radial-gradient(circle, rgba(221,201,180,1) 0%, rgba(80,90,92,1) 0%, rgba(74,85,88,1) 24%, rgba(70,82,85,1) 43%, rgba(62,76,81,1) 63%, rgba(42,61,69,1) 76%);
}